<app-loading *ngIf="!country; else divCountry"></app-loading>

<ng-template #divCountry class="animate__animated animate__fadeIn">
  <div class="row">
    <div class="col-12">
      <h1>
        País:
        <small>{{ country.name.common }}</small>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Bandera</h3>
      <img
        [src]="country.flags.png"
        [alt]="country.name.common"
        class="img-thumbnail"
      />
    </div>
    <div class="col">
      <h3>Información</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Población:</strong>
          {{ country.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Código numérico:</strong>
          {{ country.ccn3 }}
        </li>
        <li class="list-group-item">
          <strong>Código alpha3:</strong>
          {{ country.cca3 }}
        </li>
      </ul>

      <a
        [href]="country.maps.googleMaps"
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-outline-primary mr-1"
      >
        Ver ubicación en Google Maps
      </a>
      <a
        [href]="country.maps.openStreetMaps"
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-outline-primary m-1"
      >
        Ver ubicación en Open Street Maps
      </a>
    </div>
    <h3>Traducciones</h3>
    <div class="row">
      <div class="col">
        <span class="badge bg-primary m-1">
          {{ country.translations['ara'].official }}
        </span>
        <span class="badge bg-primary m-1">
          {{ country.translations['ces'].official }}
        </span>
        <span class="badge bg-primary m-1">
          {{ country.translations['cym'].official }}
        </span>
        <span class="badge bg-primary m-1">
          {{ country.translations['deu'].official }}
        </span>
        <span class="badge bg-primary m-1">
          {{ country.translations['est'].official }}
        </span>
        <span class="badge bg-primary m-1">
          {{ country.translations['fin'].official }}
        </span>
        <span class="badge bg-primary m-1">
          {{ country.translations['fra'].official }}
        </span>
        <span class="badge bg-primary m-1">
          {{ country.translations['hrv'].official }}
        </span>
        <span class="badge bg-primary m-1">
          {{ country.translations['hun'].official }}
        </span>
        <span class="badge bg-primary m-1">
          {{ country.translations['ita'].official }}
        </span>
      </div>
    </div>

    <pre class="mt-5">
      <h3>Resultado al obtener el país:</h3>
        {{ country | json }}
    </pre>
  </div>
</ng-template>
