<h2>Template: <small>Dinámicos</small></h2>
<hr />
<form
  (ngSubmit)="save()"
  autocomplete="off"
  #miFormulario="ngForm"
>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        type="text"
        name="nombre"
        [ngModel]="persona.nombre"
        class="form-control"
        placeholder="Nombre de la persona"
        required
      />
      <span
        class="form-text text-danger"
        *ngIf="miFormulario.controls.nombre?.errors && miFormulario.controls.nombre?.touched"
        >Este campo es obligatorio.</span
      >
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Agregar favorito"
          [(ngModel)]="newGame"
          (keyup.enter)="add()"
          name="newGame"
          required
        />
        <button type="button" class="btn btn-outline-primary float-end" (click)="add()" [disabled]="miFormulario.invalid">
          Guardar
        </button>
      </div>
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Vista de juegos favoritos</label>
    <div class="col-sm-9">
      <div class="input-group mb-1" *ngFor="let item of persona.favoritos; let i =index">
        <input
          [(ngModel)]="item.nombre"
          name="favorito_{{i}}"
          type="text"
          class="form-control"
          disabled
        />
        <button type="button" class="btn btn-outline-danger" (click)="delete(i)">
          Eliminar
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button
        type="button"
        class="btn btn-primary float-end"
        [disabled]="miFormulario.invalid"
        (click)="save()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<pre>
  {{persona | json }}
</pre>
